<ul class="menu container">
    <li><a href="#">detikNews</a></li>
    <li><a href="#">detikFinance</a></li>
    <li><a href="#">detikHot</a></li>
    <li><a href="#">detikInet</a></li>
    <li><a href="#">detikSport</a></li>
    <li><a href="#">detikOto</a></li>
    <li><a href="#">detikTravel</a></li>
    <li><a href="#">detikFood</a></li>
    <li><a href="#">detikHealth</a></li>
    <li><a href="#">Wolipop</a></li>
    <li><a href="#">20Detik</a></li>
    <li><a href="#">Daerah</a></li>
</ul>
