<aside>
    <div class="sidebar">
        <h3>Berita Terbaru</h3>
        <ul>
            <li><a href="#">Riset Terbaru Mengungkap Efek Positif Konsumsi Teh Hijau pada Kesehatan</a></li>
            <li><a href="#">Pemerintah Berencana Membuka Pusat Vaksinasi Massal di Seluruh Kota Metropolis</a></li>
            <li><a href="#">Peluncuran Smartphone Terbaru dari Perusahaan Teknologi Terkemuka</a></li>
            <li><a href="#">Inovasi Terbaru dalam Teknologi Pembayaran Digital yang Memudahkan Pengguna</a></li>
            <li><a href="#">Penemuan Arkeologis Baru Mengungkap Misteri Kota Kuno yang Hilang</a></li>
        </ul>
    </div>            
</aside>
